
/*Fixing the menu items to the right side of the screen*/
@media screen and (min-width: 992px) {
    .navbar-left {
        position: absolute;
        right: 20px;
        top: 5px;
    }
}

.container {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.carousel-stick-borders{
    max-height: 200px;
}

.carousel-height{
    max-height: 350px;
}