html, body {
    /*caso a barra de navegação horizontal apareça, descomente isso*/
    /*max-width: 100%;
    overflow-x: hidden;*/
}

/*Fixing the menu items to the right side of the screen*/
@media screen and (min-width: 992px) {
    .navbar-left {
        position: absolute;
        right: 20px;
        top: 5px;
    }
}

.carousel-height {
    max-height: 300px;
}

.carousel-img {
    object-fit: cover;
    height: 300px;
}

.col-stick-borders {
    padding: 0;
}

.card-travel {
    margin: 10px 0;
}