html, body {
    /*caso a barra de navegação horizontal apareça, descomente isso*/
    /*max-width: 100%;
    overflow-x: hidden;*/
}

/*Fixing the menu items to the right side of the screen*/
@media screen and (min-width: 992px) {
    .navbar-left {
        position: absolute;
        right: 20px;
        top: 5px;
    }
}

.carousel-height {
    max-height: 300px;
}

.carousel-img {
    object-fit: cover;
    height: 300px;
}

.col-stick-borders {
    padding: 0;
}

.card-travel {
    margin: 10px 0;
}

.btn-card {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.p-no-margin{
    margin-bottom: 0;
}

.card-travel-package {
    margin-bottom: 15px;
}

.email-icon {
    text-align: center;
}

.newsletter-center-y {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}